.definition-H 
{ position:absolute; 
  top:1em; left:0;
  background:white;
  display:none;
  z-index:4;
  color:black;
  font-size:10px;
  padding:4px;
  border:solid 1px silver;
  text-align:left;
  text-decoration: none;
  font-weight:normal;
  font-style:normal;
  width:20em;
  color: #4B7A98;
  background: #D5EBF9;
  filter: alpha(opacity=89); 
  opacity: 0.89; 
} 

span.word-H:hover .definition-H
{ 
  display:block;
  text-decoration: none;
} 

.word-H 
{
 position:relative
 text-decoration: none;
}
